html,
body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  width: 10%;
  display: block;
  border: none;
  color: white;
  background-image: linear-gradient(to right, #b3ffff, #df80ff, #ff80ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding: 0.5em;
  font-size: 1.5em;
}

button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
  border-radius: 5px;
}

button:hover,
button:focus {
  cursor: pointer;
  animation-name: color-change;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

button:active {
  transform: scale(0.96);
}

@keyframes color-change {
  0% {
    background-image: linear-gradient(to right, #b3ffff, #df80ff, #ff80ff);
  }

  100% {
    background-image: linear-gradient(to right, #ff80ff, #df80ff, #b3ffff);
  }
}
